{% extends "base.html" %}
{% block content %}
<div class="flex items-center min-h-screen -mb-[190px] justify-center bg-fixed bg-cover bg-bottom error-bg">

	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-gray-900 text-center -mt-52">
				<div class="relative ">
				<h1 class="relative text-9xl tracking-tighter-less text-shadow font-sans font-bold">
					<span>4</span><span>0</span><span>4</span></h1>
					<span class="absolute  top-0   -ml-12  text-gray-600 font-semibold">Oops!</span>
					</div>
				<h5 class="text-gray-600 font-semibold -mr-10 -mt-3">Page not found</h5>
				<p class="text-gray-900 mt-2 mb-6">Désolé, mais la page demandée est introuvable.</p>
				<a href="/"
					class="bg-green-300 text-gray-700 px-5 py-3 text-sm shadow-sm font-medium tracking-wider rounded-full hover:shadow-lg">
					Retour à l'accueil
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}